# 1. Set the variable test1 to the string "This is a test of the emergency text system," and save test1 to a file named test.txt.

In [4]:
test1 = "This is a test of the emergency text system."
with open("test.txt", "w") as file:
    file.write(test1)

# 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [7]:
with open ('test.txt','r') as file:
    test2=file.read()
    
print(test1)
print(test2)

This is a test of the emergency text system.
This is a test of the emergency text system.

# 3. Create a CSV file called books.csv by using these lines:
    
title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

In [8]:
import csv

data = [
    ["title", "author", "year"],
    ["The Weirdstone of Brisingamen", "Alan Garner", 1960],
    ["Perdido Street Station", "China Miéville", 2000],
    ["Thud!", "Terry Pratchett", 2005],
    ["The Spellman Files", "Lisa Lutz", 2007],
    ["Small Gods", "Terry Pratchett", 1992]
]

with open("books.csv", "w", newline="") as file:
    writer = csv.writer(file)
    writer.writerows(data)

# 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [9]:
import sqlite3

# Create a connection to the database
conn = sqlite3.connect('books.db')

# Create a cursor
c = conn.cursor()

# Create the books table with title, author, and year fields
c.execute('''CREATE TABLE books
             (title text, author text, year integer)''')

# Save the changes
conn.commit()

# Close the connection
conn.close()

# 5. Read books.csv and insert its data into the book table.

In [10]:
import csv
import sqlite3

# Open a connection to the database
conn = sqlite3.connect('books.db')

# Create a cursor object
cursor = conn.cursor()

# Create the books table
cursor.execute('''CREATE TABLE IF NOT EXISTS books
                  (title TEXT, author TEXT, year INTEGER)''')

# Read the data from books.csv and insert it into the books table
with open('books.csv', newline='') as csvfile:
    reader = csv.reader(csvfile)
    next(reader)  # skip the header row
    for row in reader:
        cursor.execute("INSERT INTO books VALUES (?, ?, ?)", row)

# Commit the changes and close the connection
conn.commit()
conn.close()

# 6. Select and print the title column from the book table in alphabetical order.

In [11]:
import sqlite3

# create a connection to the database
conn = sqlite3.connect('books.db')

# create a cursor object to execute SQL commands
c = conn.cursor()

# select the title column from the book table in alphabetical order
c.execute("SELECT title FROM books ORDER BY title ASC")

# fetch all rows returned by the query
rows = c.fetchall()

# print the rows
for row in rows:
    print(row[0])

# close the cursor and the connection to the database
c.close()
conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

# 7. From the book table, select and print all columns in the order of publication.

In [12]:
import sqlite3

# Connect to the database
conn = sqlite3.connect("books.db")

# Create a cursor
c = conn.cursor()

# Select all columns from the book table and order by year in ascending order
c.execute("SELECT * FROM books ORDER BY year ASC")

# Print the results
for row in c.fetchall():
    print(row)

# Close the connection
conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

# 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [1]:
pip install SQLAlchemy

Requirement already satisfied: SQLAlchemy in c:\users\asus\anaconda3\lib\site-packages (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\asus\anaconda3\lib\site-packages (from SQLAlchemy) (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from sqlalchemy import create_engine

# Create the SQLAlchemy engine
engine = create_engine('sqlite:///books.db')

# Test the connection
with engine.connect() as connection:
    result = connection.execute("SELECT * FROM books")
    for row in result:
        print(row)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

# 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ("Fester Bestertester"). Print all the fields for test.

In [3]:
pip install redis

Collecting redis
  Downloading redis-4.6.0-py3-none-any.whl (241 kB)
     ------------------------------------ 241.1/241.1 kB 673.2 kB/s eta 0:00:00
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Installing collected packages: async-timeout, redis
Successfully installed async-timeout-4.0.2 redis-4.6.0
Note: you may need to restart the kernel to use updated packages.

# .
import redis



r = redis.Redis()



r.hset("test", "count", 1)

r.hset("test", "name", "Fester Bestertester")



fields = r.hgetall("test")

for key, value in fields.items():

    print(f"{key.decode()}: {value.decode()}")

# 10. Increment the count field of test and print it.

# .
import redis

r = redis.Redis()

r.hincrby("test", "count", 1)

count = r.hget("test", "count")

print(f"Updated count: {count.decode()}")